[Unit]
Description=OLED Display Service
After=multi-user.target

[Service]
User=localadmin
Group=localadmin
WorkingDirectory=/home/localadmin/Python/sysinfo/luma.examples/examples/
Environment="PATH=/home/localadmin/my_project/bin:/usr/bin"
ExecStart=/home/localadmin/my_project/bin/python /home/localadmin/Python/sysinfo/luma.examples/examples/sys_info_extended.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

